<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.warehouse.mapper.TakeStockMapper" >
  <resultMap id="BaseResultMap" type="com.warehouse.model.TakeStock" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="quantity" property="quantity" jdbcType="FLOAT" />
    <result column="balance" property="balance" jdbcType="FLOAT" />
    <result column="stock_take_date" property="stockTakeDate" jdbcType="VARCHAR" />
    <result column="submitted" property="submitted" jdbcType="INTEGER" />
    <result column="submit_date" property="submitDate" jdbcType="VARCHAR" />
    <result column="stock_take_person" property="stockTakePerson" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="INTEGER" />
    <result column="update_user" property="updateUser" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, quantity, balance, stock_take_date, submitted, submit_date, stock_take_person, 
    remark, create_time, create_user, update_user, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from take_stock
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from take_stock
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.warehouse.model.TakeStock" >
    insert into take_stock (id, quantity, balance, 
      stock_take_date, submitted, submit_date, 
      stock_take_person, remark, create_time, 
      create_user, update_user, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{quantity,jdbcType=FLOAT}, #{balance,jdbcType=FLOAT}, 
      #{stockTakeDate,jdbcType=VARCHAR}, #{submitted,jdbcType=INTEGER}, #{submitDate,jdbcType=VARCHAR}, 
      #{stockTakePerson,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUser,jdbcType=INTEGER}, #{updateUser,jdbcType=INTEGER}, #{updateTime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.warehouse.model.TakeStock" >
    insert into take_stock
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="balance != null" >
        balance,
      </if>
      <if test="stockTakeDate != null" >
        stock_take_date,
      </if>
      <if test="submitted != null" >
        submitted,
      </if>
      <if test="submitDate != null" >
        submit_date,
      </if>
      <if test="stockTakePerson != null" >
        stock_take_person,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=FLOAT},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=FLOAT},
      </if>
      <if test="stockTakeDate != null" >
        #{stockTakeDate,jdbcType=VARCHAR},
      </if>
      <if test="submitted != null" >
        #{submitted,jdbcType=INTEGER},
      </if>
      <if test="submitDate != null" >
        #{submitDate,jdbcType=VARCHAR},
      </if>
      <if test="stockTakePerson != null" >
        #{stockTakePerson,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.warehouse.model.TakeStock" >
    update take_stock
    <set >
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=FLOAT},
      </if>
      <if test="balance != null" >
        balance = #{balance,jdbcType=FLOAT},
      </if>
      <if test="stockTakeDate != null" >
        stock_take_date = #{stockTakeDate,jdbcType=VARCHAR},
      </if>
      <if test="submitted != null" >
        submitted = #{submitted,jdbcType=INTEGER},
      </if>
      <if test="submitDate != null" >
        submit_date = #{submitDate,jdbcType=VARCHAR},
      </if>
      <if test="stockTakePerson != null" >
        stock_take_person = #{stockTakePerson,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.warehouse.model.TakeStock" >
    update take_stock
    set quantity = #{quantity,jdbcType=FLOAT},
      balance = #{balance,jdbcType=FLOAT},
      stock_take_date = #{stockTakeDate,jdbcType=VARCHAR},
      submitted = #{submitted,jdbcType=INTEGER},
      submit_date = #{submitDate,jdbcType=VARCHAR},
      stock_take_person = #{stockTakePerson,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=INTEGER},
      update_user = #{updateUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>